// Cores
$cor-primaria: #0ea5e9;
$cor-secundaria: #0369a1;
$cor-fundo: #f8fafc;
$cor-texto: #334155;
$cor-branca: #ffffff;
 
// Espaçamentos
$espacamento-sm: 1rem;
$espacamento-md: 2rem;
$espacamento-lg: 4rem;

